<h1>Color Picker</h1>
<p>Play with the knobs to create your color palette</p>


<div class="contenedor">
  <input id="r" type="text" value="10" class="dial" data-max="100" data-width="180" data-fgColor="red">

  <input id="g" type="text" value="10" class="dial" data-max="100" data-width="180" data-fgColor="green">

  <input id="b" type="text" value="10" class="dial" data-max="100" data-width="180" data-fgColor="blue">
</div>


<div class="contenedor" id="color"></div>
